<h1><%= @category.nil? ? "All Videos" : @category %></h1>

<ul class="thumbnails">
  <% @rows.each do |row| %>

  <li class="span4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= row['name'] %></h3>
      </div>
      <iframe width="281" height="158" src="<%= row['url'] %>" frameborder="0" allowfullscreen></iframe>

      <a href="/videos/<%= row['id'] %>/edit" data-toggle="tooltip" title="Edit video" ><i class="icon-edit icon-white"></i></a>

      <a href="/videos/<%= row['id'] %>/delete" data-toggle="tooltip" title="Delete video" ><i class="icon-trash icon-white"></i></a>


      <h6>Category: <%= row['category'] %></h6>
      <div class="vid_description">
        <p><%= row['description'] %></p>
      </div>
    </div>
  </li>

  <% end %>


</ul>