<h1><%= @category.nil? ? "All Videos" : @category %></h1>

<ul class="thumbnails">
  <% @rows.each do |row| %>

  <li class="span4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= row['name'] %></h3>
      </div>
      <iframe width="281" height="158" src="<%= row['url'] %>" frameborder="0" allowfullscreen></iframe>

      <a href="/videos/<%= row['id'] %>/edit" data-toggle="tooltip" title="Edit video" ><i class="icon-edit icon-white"></i></a>

<!-- begin modal -->
      <a href="#deleteModal<%= row['id'] %>" data-toggle="modal" title="Delete video"><i class="icon-trash icon-white"></i></a>

      <div id= "deleteModal<%= row['id'] %>" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">YO!</button>
          <h3>Delete "<%= row['name'] %>" ?</h3>
        </div>
        <div class="modal-body">
          <p>This cannot be undone</p>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <a href="/videos/<%= row['id'] %>/delete" class="btn btn-danger">Delete</a>
        </div>
      </div>
<!-- end modal -->

      <h6>Category: <%= row['category'] %></h6>
      <div class="vid_description">
        <p><%= row['description'] %></p>
      </div>
    </div>
  </li>

  <% end %>


</ul>