
<ul class="thumbnails">
  <% @rows.each do |row| %>

  <li class="span4">
    <div class="thumbnail">

      <a href="/videos/<%= row['id'] %>/edit" data-toggle="tooltip" title="Edit video" ><i class="icon-edit"></i></a>
      <iframe width="281" height="158" src="<%= row['url'] %>" frameborder="0" allowfullscreen></iframe>

      <form action='/videos/<%= row['id'] %>/delete' method="post" name="video_id">
        <button class="btn btn-danger btn-mini">Delete</button>
      </form>
    <div class="caption">
    <h3><%= row['name'] %></h3>
    </div>
    <h6>Category: <%= row['category'] %></h6>
    <p><%= row['description'] %></p>
  </div>
  </li>

  <% end %>

</ul>